header{
    text-align:center;
    color:purple;
}
h1#Titulo-principal{
    text-align: center;
    font-family:trocchi;
    font-size:20px;
    font-weight:bold; 
}
h2#Subtitulo-principal{
    text-align:center;
    font-family:candara;
    font-size: 40px;
   }

h3.subtitulo-naranja{
    text-align:center;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:lighter;
    font-size:26px;
    color: orange 
}
table{
    margin:auto;
}
 th{
    height:80%;
    color:green;
    text-align:center;
    }
 td{
    text-align:left;
    color:greenyellow;
 }   
 td a{
     width:100%;
 } 

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: lightseagreen;
    text-decoration:underline;
    text-decoration-color: hotpink;
 }
 p{
  font-family: Georgia, 'Times New Roman',Times, serif;
    font-style: italic;
    text-justify: auto;
    line-height:2;
 }
 
 li{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font:size 24px;
list-style: none;
text-align:justify;
}